# env.sample
SECRET_KEY="your_secret_key_here"
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
SQLITE="your_sqlite_path_here"
STRIPE_PUBLIC_KEY="your_secret_key_here"
STRIPE_SECRET_KEY="your_secret_key_here"
STRIPE_ENDPOINT_SECRET="your_secret_key_here"
